<% provide :title, @user.name %>
<div class="container">
  <div class= "col-md-9">
    <ul class="list-inline pull-right">
     <li><%= render "users/follow_form", user: @user %></li>
    </ul>
    <h1><%= @user.name %></h1>
    <hr>
  </div>
</div>
<div class="container">
  <div class="col-md-9">
    <ul class="nav nav-tabs" id="myTab">
      <% if params[:tab] == "following" %>
        <li>
          <a href="<%= user_path @user, tab: "followers" %>">Followers</a>
        </li>
        <li class="active">
          <a href="#follower_tab" data-toggle="tab">Following</a>
        </li>
      <% else %>
        <li class="active">
          <a href="#follower_tab" data-toggle="tab">Followers</a>
        </li>
        <li>
          <a href="<%= user_path @user, tab: "following" %>">Following</a>
        </li>
      <% end %>
    </ul>
    <div class="tab-content">
      <% if params[:tab] == "following" %>
        <div class="tab-pane" id="follower_tab"> </div>
        <div class="tab-pane active"id="following_tab" >
          <div id = "following_div" %><%= render "users/user_list" %></div>
        </div>
      <% else %>
        <div class="tab-pane active" id="follower_tab">
          <div id = "followers_div" %><%= render "users/user_list" %></div>
        </div>
        <div class="tab-pane" id="following_tab"></div>
      <% end %>
    </div>
  </div>
</div>
