<%= form_for [:admin, @category], html: {class: "margin-bottom-40"} do |f| %>
  <%= render "shared_pages/error_messages", object: f.object %>
  <div class = "form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <%= f.submit t(".save"), class: "btn btn-primary" %>
<% end %>
